body { 
	position: fixed;
	margin: 0px;
	padding: 0px;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
//profile layout
#profilepic {
	position: absolute;
	top: 65;
	left: 550;
	
}

#desc {
	font-family: Helvetica;
	color: #C0C0C0;
	position: absolute;
	top: 280;
	left: 625;
}

.quote{
	position: absolute;
	font-family:FreeMono, monospace;
	font-size: 30px;
	width: 400;
	top: -10;
	left: 550;
	display: inline-block;
	color:white;
	font-weight: Bold;
	
}


#imagelayout {
	position: absolute;
	opacity:0.5;
	width: 820;
	height: 610;
	top: 0;
	left: 520;
}

.aboutme{
	position: absolute;
	font-family:FreeMono, monospace;
	top: 50;
	left: 980;
	color:white;
	font-weight: Bold;
	width: 400;
}

.aboutme img{
	width: 64;
	height: 64;
}

#fb {
	position: absolute;
	top:450;
	left: 0;
}

#twitter {
	position: absolute;
	top:450;
	left: 80;
}

#insta {
	position: absolute;
	top:450;
	left: 160;
}

.gif{
	position: absolute;
	top: 355;
	left: 550;
	width: 130;
	
}

.gif2{
	position: absolute;
	top: 355;
	left: 700;
	width: 95;
	
}

.gif3{
	position: absolute;
	top: 470;
	left: 550;
	width: 130;
	
}

#link{
	position: absolute;
	display: inline-block;
	font-family: Helvetica;
	font-weight: Bold;
	top: 10;
	left: 350;
}
//gallery layout
#gallerytext{
	position: absolute;
	display: inline-block;
	font-family: Helvetica;
	font-weight: Bold;
	top: 0;
	left: 50;
}

//slideshow pseudo class
.fling-minislide {width:485px; height:450px; overflow:hidden; position:absolute; top: 390; left:20; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 90%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}
//gallery background
#gallerybg {
	position: absolute;
	top: 0;
	left: 20;
	height: 350;
	width: 485;
	opacity: 0.1
}

//gallery pseudo class
.gallery img {
	width:128;
	height:128;
	border-style: ridge;
	border-color: black;
}

.galler h {
	position: absolute;
	font-family: Helvetica;
	font-weight: Bold;
	left: 20;	
}

.gallery2 img {
	width:485;
	height:220;
}
//gallery position
#img1 {
	position: absolute;
	top: 60;
	left: 50;
}

#img2 {
	position: absolute;
	top: 60;
	left: 200;
}

#img3 {
	position: absolute;
	top: 60;
	left: 350;
}

#img4 {
	position: absolute;
	top: 210;
	left: 50;
}

#img5 {
	position: absolute;
	top: 210;
	left: 200;
}

#img6 {
	position: absolute;
	top: 210;
	left: 350;
}
