body { 
	position: fixed;
	margin: 0px;
	padding: 0px;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*profile layout*/
#imagelayout {
	position: absolute;
	opacity:0.8;
	width: 820;
	height: 610;
	top: 0;
	left: 520;
}

#profilepic {
	position: absolute;
	top: 65;
	left: 550;
	
}

#desc {
	font-family:FreeMono, monospace;
	color: #C0C0C0;
	position: absolute;
	top: 280;
	left: 625;
}

.quote{
	position: absolute;
	font-family:FreeMono, monospace;
	font-size: 30px;
	width: 400;
	top: -10;
	left: 550;
	display: inline-block;
	color:white;
	font-weight: Bold;
	
}

.aboutme{
	position: absolute;
	font-family:FreeMono, monospace;
	top: 50;
	left: 930;
	color:white;
	font-weight: Bold;
	width: 400;
}

.aboutme img{
	width: 38;
	height: 32;
}

#peppa{
	position: absolute;
	width: 128;
	height: 128;
	top: 430;
	right: -20;
}
/*social link*/
#fb {
	position: absolute;
	top:-35;
	left: 180;
}

#twitter {
	position: absolute;
	top:-35;
	left: 230;
}

#insta {
	position: absolute;
	top: -35;
	left: 280;
}
/*gifs*/
.gif{
	position: absolute;
	top: 355;
	left: 550;
	width: 130;
	
}

.gif2{
	position: absolute;
	top: 355;
	left: 700;
	width: 95;
	
}

.gif3{
	position: absolute;
	top: 470;
	left: 550;
	width: 130;
	
}

.gif4{
	position: absolute;
	top: 470;
	left: 700;
	width: 95;
	height: 130;
	
}

#link{
	position: absolute;
	display: inline-block;
	font-family: Helvetica;
	font-weight: Bold;
	top: 10;
	left: 350;
}

/*slideshow preview*/
.fling-minislide {
	width:500px; 
	height: 800px; 
	overflow:auto; 
	display:block;
	position:absolute; 
	top: 354; 
	left:20; 
}
.fling-minislide img{ 
	position:absolute; 
	animation:fling-minislide 60s infinite; 
	opacity:0; 
	width: 90%; 
	height: auto;
	border-style: ridge;
	border-color: black;
	}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(12){animation-delay:0s;}
.fling-minislide img:nth-child(11){animation-delay:5s;}
.fling-minislide img:nth-child(10){animation-delay:10s;}
.fling-minislide img:nth-child(9){animation-delay:15s;}
.fling-minislide img:nth-child(8){animation-delay:20s;}
.fling-minislide img:nth-child(7){animation-delay:25s;}
.fling-minislide img:nth-child(6){animation-delay:30s;}
.fling-minislide img:nth-child(5){animation-delay:35s;}
.fling-minislide img:nth-child(4){animation-delay:40s;}
.fling-minislide img:nth-child(3){animation-delay:45s;}
.fling-minislide img:nth-child(2){animation-delay:50s;}
.fling-minislide img:nth-child(1){animation-delay:55s;}

/*gallery layout*/

#gallerytext{
	position: absolute;
	display: inline-block;
	color:white;
	font-family:FreeMono, monospace;
	font-weight: Bold;
	top: 0;
	left: 50;
}

#gallerybg {
	position: absolute;
	top: 0;
	left: 20;
	height: 350;
	width: 485;
	opacity: 0.1
}


.gallery img {
	width:128;
	height:128;
	border-style: ridge;
	border-color: black;
}

.galler h {
	position: absolute;
	color:white;
	font-family:FreeMono, monospace;
	font-weight: Bold;
	left: 20;	
}

.gallery2 img {
	width:485;
	height:250;
}

#img1 {
	position: absolute;
	top: 60;
	left: 50;
}

#img2 {
	position: absolute;
	top: 60;
	left: 200;
}

#img3 {
	position: absolute;
	top: 60;
	left: 350;
}

#img4 {
	position: absolute;
	top: 210;
	left: 50;
}

#img5 {
	position: absolute;
	top: 210;
	left: 200;
}

#img6 {
	position: absolute;
	top: 210;
	left: 350;
}

/*link color*/
a:link{
  color:white;
}
a:visited{
  color:white;
}
a:hover{
  color:white;
}
a:focus{
  color:white;
}
a:active{
  color:white;
