body { 
	margin: 0px;
	padding: 0px;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#imagelayout {
	position: fixed;
	opacity:0.8;
	width: 300;
	top: 50;
	left: 550;
}

#profilepic {
	position: absolute;
	top: 100;
	left: 640;
	
}

#desc {
	font-family: Helvetica;
	color: #C0C0C0;
	position: absolute;
	top: 280;
	left: 625;
}